


$background-color-2: #B8C2CC;
$border-color: #A9B1B2;



// site sizes
$site-max-width: 1000px;

// header sizes
$header-height: 30px;
$header-button-height: 20px;

//table of content sizes
$toc-width: 200px;

//article sizes

// series sizes

// footer sizes
