


$background-color-2: #B8C2CC;
$border-color: #A9B1B2;



// ------ COLORS ------

// site:
$site-button-color: green;
$site-button-background: orange;
$site-button-background-hover: yellow;
$site-button-border: red;


// header
$header-background-extended: lightblue;
$header-background: lightgreen;
// toc

// article

// series

// footer



// ------ SIZES ------

// site 
$site-max-width: 1000px;

// header 
$header-height: 30px;
$header-button-height: 20px;

// toc
$toc-width: 200px;

// article 

// series 

// footer 
