@use 'sass:math';

// for main colors of body
$color: black;
$background-color: lightgrey;
$background-color-2: #B8C2CC;

// for buttons and other specific items
$color-1: darkblue;
$color-trim-1: #66ff66;
$color-border-1: blue;
$color-off-1: #00b300;  // a lighter green

// for accents of toc, header, footer
$color-2: darkgreen;
//$color-background-2: 
$color-trim-2: lightgreen;
$border-color: #A9B1B2;





// ------ COLORS ------

// site:
$site-background: $background-color; // has little effect
$site-background-sides: lightpink;


$site-button-color: $color-1;
$site-button-background: green;
$site-button-background-hover: $color-off-1;
$site-button-border: $color-border-1;

$site-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

// header
$header-background-extended: lightblue;
$header-background: lightgreen;


// toc
$toc-background: mintcream;
// article
$article-background: $background-color;
$article-quote-background: mintcream;
// series
$series-background: $background-color-2;
// footer
$footer-background: $color-trim-2;


// ------ SIZES ------

// site 
$site-max-width: 1200px;

// toc
$toc-width: 200px;

// header 
$header-height: 32px;
$header-button-height: 20px;
$header-menu-width: 150px;
$home-button-width: 100px;
$home-button-margin: math.div($toc-width - $home-button-width, 2);


// article 

// series 

// footer 
$footer-height: 150px;
