
body {
    margin: 0;
    padding: 0;
};

.footer {
    height: 150px;
    bottom: 0;
    //position: fixed;
    width: 100%;
    color: green;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
};
