@import "color_palette";

.header {
    padding-bottom: 20px;
    background: lightblue;
    display: block;
};

.header-buttons {
    //display: inline-block;
    margin: auto;
    max-width: $site-max-width;
};

.about-link {
    //text-align: right;
    //margin-left: auto;
    float: right;
    display: inline-block;
};

