@import "color_palette";

.site-header {
    height: $header-height;
    background: lightblue;
    display: block;

    .header-buttons {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: $site-max-width;
        background: lightgreen;
        height: $header-height;
    
        a {
            text-decoration: none;
        };

        .header-button {
            border: 1px solid red;
            border-radius: 3px;
            margin: 2px;
            padding: 1px;
            background: cyan;
            
            input {
                border: 0;
                background: none;
            };    
        }

        
        
        .about-link {
            float: right;
            display: inline-block;
        };
        
        .about-link {
            float: right;
            display: inline-block;
        };
    };
};


.body-content {
    display: grid;
    margin: 0 auto;
    max-width: $site-max-width;
    height: 100%;
    background: purple;
};

.site-footer {
    height: 150px;
    bottom: 0;
//    position: relative;
    width: 100%;
    background: green;
    //margin-top: -50px;
    margin-left: 0px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;

    .footer-inner {
        max-width: $site-max-width;
        margin: auto;
    };

    
};




