

.header {
    padding-bottom: 20px;
    background: lightblue;
    display: block;
};

.about-link {
    //text-align: right;
    //margin-left: auto;
    float: right;
    display: inline-block;
};

