@import "color_palette";

.site-header {
    height: $header-height;
    background: $header-background-extended;
    display: block;

    .header-buttons {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: $site-max-width;
        background: $header-background;
        height: $header-height;
        color: $site-button-color;
    
        a {
            text-decoration: none;
        };

        .header-button {
            border: 2px solid $site-button-border;
            border-radius: 3px;
            margin: 2px;
            padding: 1px;
            background: $site-button-background;
            
            * {
                border: 0;
                background: none;
                color: $site-button-color;
            };    
    
        }

        .header-button:hover {
            background: $site-button-background-hover;
        }


        .dropdown {
            width: $header-menu-width;
            margin-left: 80px;
            padding-left: 0;
            float: right;
            overflow: hidden;
            text-align: center;
        }
        
        .dropdown .dropbtn {
            font-size: 16px;
            border: none;
            outline: none;
            padding: 14px 16px;
            margin: 0; /* Important for vertical align on mobile phones */
        };


          
          /* Dropdown content (hidden by default) */
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: $site-button-background;
            box-shadow: $site-box-shadow;
            width: $header-menu-width;
            z-index: 1;
            margin: 0;
            text-align: center;
            border-radius: 4px;
          }
          
          /* Links inside the dropdown */
          .dropdown-content a {
            float: right;
            color: $site-button-color;
            //padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: center;
          }
          
          /* Add a grey background color to dropdown links on hover */
          .dropdown-content a:hover {
            background-color: $site-button-background-hover;
          }
          
          /* Show the dropdown menu on hover */
          .dropdown:hover .dropdown-content {
            display: grid;
          }
    };
};


.body-content {
    display: flex;
    margin: 0 auto;
    width: $site-max-width;
    max-width: $site-max-width;
    height: 100%;
    background: $site-background;
};

.site-footer {
    height: 150px;
    bottom: 0;
    width: 100%;
    background: $footer-background;
    margin-left: 0px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;

    .footer-inner {
        max-width: $site-max-width;
        margin: auto;
    };

    
};




