@import "color_palette";

.site-header {
    height: 20px;
    background: lightblue;
    display: block;
};

.header-buttons {
    //display: inline-block;
    margin: 0 auto;
    max-width: $site-max-width;
    background: lightgreen;
    height: 100%;
};

.about-link {
    //text-align: right;
    //margin-left: auto;
    float: right;
    display: inline-block;
};

html {
    height: 100%;
};

body {
    height: 100%;
    margin: 0;
    padding: 0;
};

.wrapper {
    min-height: 100%;
    //display: grid;
    padding: 0;
    margin: 0;
    //grid-template-rows: auto 1fr auto;
};

.site-footer {
    height: 150px;
    bottom: 0;
//    position: relative;
    width: 100%;
    background: green;
    //margin-top: -50px;
    margin-left: 0px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
};

.footer-inner {
    max-width: $site-max-width;
    margin: auto;
};

.body-content {
    display: grid;
    margin: 0 auto;
    max-width: $site-max-width;
    height: 100%;
    background: purple;
};
