
.instructional-blog {

    blockquote {
        margin: auto;
        max-width: 800px;
        border: 1px solid;
        border-radius: 3px;
        background: mintcream;
        text-align: center;
    };
};
