
.instructional-blog {

    blockquote {
        margin-left: 0px;
        margin-right: 20px;
        max-width: 800px;
        border: 1px solid;
        border-radius: 3px;
        background: mintcream;
        text-align: center;
    };
};
