@import "color_palette";


.navbar {
    width: $toc-width;
    border-right: 1px solid;
    height: 100%;
    
    .dropdown-menu {
        width: $toc-width;

        .dropdown-button {
            width: $toc-width;
            border: 0;
        };
    
        .dropdown-content {
            display: none;
            position: absolute;
            z-index: 100;
            background: lightblue;
            a {
                width: $toc-width;
                display: block;
                text-align: center;
            };

            a:hover {
                background: grey;
            };
        };

        
    };

    .dropdown-menu:hover .dropdown-content {
        display: grid;
    };

   .navigation {
        height: 100%;
        overflow: scroll;

        .table-of-contents {
      
            .table-of-contents-header {
                width: 140px;
                text-align: center;
                margin: 20px auto;
                padding-bottom: 5px;
                border-bottom: 1px solid;
            };
      
            .toc {
                ul {
                    list-style-type: none;
                    padding: 10px;

                    .toc-h1 {
                        list-style-type: none;
                    };

                    .foldable-dropdown-hidden {
                        transform: rotate(-90deg);
                    };

                    .foldable-list-hidden {
                        display: none;
                    };
                };
            };
        };
    }; 

    
};



