.article-post-container {
    display: flex;
    width: 100%;
    float: right;
};

.article-post {
    background: $article-background;   
};

.post-and-series {
    margin: $header-height 0 0 $toc-width;
    height: 100%;
    width: 100%;
};
