@import "color_palette";

.series-instructional-blog {
    margin-left: 20px;
};



.series {
    display: block;
    margin: auto;
    max-width: $site-max-width;
    background-color: $series-background;
    margin: 40px;
    padding: 15px;
    border-color: $border-color;
    border-width: 3px 4px 6px 4px;
    border-style: solid;
    border-radius: 20px;

};



.series-post-section {
    display: block;
    width: 100%;
    align: center;
};

.series-post-bullet {
    font: bold;
};

.series-header {
    color: #3D3E3D;
    
};
