.series {
    background-color: $background-color-2;
    border-color: $border-color;
    border-width: 0px 2px 4px 2px;
    border-style: solid;
    display: inline-block;
    width: 100%
}





.series-post-section {
    display: block;
    width: 100%;
    align: center;
};

.series-post-bullet {
    font: bold;
}

.series-header {
    color: #3D3E3D;
    
}
