
.non-series-container {
    display: flex;
};


.series {
        display: inline-block;
    //width: 100%
    width: 100%;
    margin: auto;
//    padding: 20px;
};

.series-inner {
    display: block;
    margin: auto;
    max-width: $site-max-width;
    background-color: $background-color-2;
    border-color: $border-color;
    border-width: 0px 2px 4px 2px;
    border-style: solid;

};



.series-post-section {
    display: block;
    width: 100%;
    align: center;
};

.series-post-bullet {
    font: bold;
};

.series-header {
    color: #3D3E3D;
    
};
