@import "color_palette";

html {
    height: 100%;
    font-family: sans-serif;

};


//a {
//    height: 100%;
//    width: 100%;
//    background: yellow;
//}


//body {
//    height: 100%;
//    margin: 0;
//    padding: 0;
//};


.site-button {
    color: $site-button-color;
    background: $site-button-background;
    //border: 1px solid $site-button-border;
    cursor: pointer; /* Add a mouse pointer on hover */
};
