@import 'color_palette';


.table-of-contents {
    display: inline-block;
    margin: auto;
    //padding: 10px;
    height: stretch;
    min-height: 100%;
    max-width: $toc-width;
    width: stretch;
    border: solid 1px;
    height: 100%;
    background: $toc-background;
    border-radius: 5px;
};


.article-body {
    display: block;
    max-width: $site-max-width;
    height: 100%;
};


#toc {
    display: inline-block;
    width: $toc-width;
    padding: 0;
    float: left;
    min-height: 100%;
    text-decoration: none;
    

    li {

        list-style-type: none;

        a {
            text-decoration: none;
                    };
    };
};

.post-and-series {
    display: grid;
};  
