@import 'color_palette';


.table-of-contents-plus-article {
    display: block;
    margin: auto;
    //padding: 10px;
    height: stretch;
    min-height: 100%;
    max-width: $site-max-width;
    width: stretch;
};


.article-body {
    display: block;
    max-width: $site-max-width;
    height: 100%;
};


#toc {
    display: inline-block;
    width: 12%;
    padding: 0;
    border: solid 1px;
    height: 100%;
    background: lightblue;
   // height: stretch;
    position: sticky;
    float: left;
};


