@import 'color_palette';


.table-of-contents {
    display: inline-block;
    margin: auto;
    //padding: 10px;
    height: stretch;
    min-height: 100%;
    max-width: $toc-width;
    width: stretch;
    max-width: 12%;
    border: solid 1px;
    height: 100%;
    background: $toc-background;

};


.article-body {
    display: block;
    max-width: $site-max-width;
    height: 100%;
};


#toc {
    display: inline-block;
    width: 12%;
    padding: 0;
    float: left;
};


