---
layout: default
---
<link rel="stylesheet" href="assets/css/styles.css">
<header class="site-header">
    <div class="header-buttons">
            <a class="home-link header-button" href="{{ site.url }}">
                <input type="button" value="home" />
            </a> 
            <a class="about-link header-button" href="{{ site.baseurl }}/about">
                <input type="button" value="about" />
            </a>
    </div>
</header>
<div class="body-content">
    {{ content }}
</div>

<footer class="site-footer">
    <div class="footer-inner">
        <button onclick="topFunction()" id="myBtn" title="Go to top">
            Return to Top
        </button>
    </div>

</footer>
