---
layout: default
---
<link rel="stylesheet" href="assets/css/styles.css">
<header class="site-header">
    <div class="header-buttons">
        <a class="home-link" href="{{ site.url }}">home</a> 
        <a class="about-link" href="{{ site.baseurl }}/about">about</a>
    </div>
</header>
<div class="body-content">
    {{ content }}
</div>

<footer class="site-footer">
    <div class="footer-inner">
        <button onclick="topFunction()" id="myBtn" title="Go to top">
            Return to Top
        </button>
    </div>

</footer>
