---
layout: footer
---
<div class="series-instructional-blog">
    {{ content }}
    
    <div class="series-container no_toc_section">
    <div class="series">
        <!-- Series links -->
        {% if page.is_series == true %}
        <div class="row spacer-y">
            <div class="col-12">
                <div class="big-banner rounded">
                    <h2 class="text-success p-3 pb-0 series-header
">
                        This post is part of the {{ page.series_title }} series</h2>
                    {% assign posts = site.posts | where: "is_series", true | where: "series_title", page.series_title |
                    sort: 'date' %}
                    {% assign i = 0 %}
                    {% for post in posts %}
                        {% assign i = i | plus:1 %}
                        {% if post.title == page.title %}
                            <p class="nav-link bullet-pointer mb-0 "series-post-bullet series-post-bullet-current"">{{ i }}. {{ post.title }}</p>
                        {% else %}
                            <a class="nav-link bullet-hash series-post-bullet series-post-bullet-link" href="{{ post.url }}">{{ i }}. {{ post.title }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
   </div>
   </div>
</div>
